


.konst-navbar-container-tab-green{
    background-color: #f90765;
     color: #4d4dff;
     
 }
.konst-navbar-container-tab-front-green{
    //box-shadow: 6px 6px 12px #003f0d;
}
.konst-navbar-container-tab-front-green:hover{
    background-color: #3eda26;
}