
.konst-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
    
    
}
.konst-content{

    width: 100%;
    top:440px;
    position: absolute; 
    z-index: 5;
   }