body{
    //background-color: #3636f9;
    //background-color: #70f936;
    height: fit-content;
    background-color: #3636f9;
    overflow-x: hidden;
}
@import 'blueTheme/importBlueTheme';
@import 'greenTheme/importGreenTheme';
@import 'purpleTheme/importPurpleTheme';
@import 'blackTheme/importBlackTheme';


@import 'konst_navbar';
@import 'konst_orange_bird';
@import 'konst_content';

@import 'konst_gallery/konst_gallery';
@import 'konst_gallery_video/konst_gallery_video';




.konst-header{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 80px;
    line-height: 120px;
    mix-blend-mode: hard-light;
    z-index: 1;
    position: absolute;
    top:240px;
}






