.konst-body-black-wrapper{
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
}

.konst-body-black-shape{
    background-color: #fffafa;
    width: 100%;
    height: 600px;
    clip-path: polygon(30% 0%, 64% 50%, 30% 100%, -10% 50%);
}

.konst-body-black-shape-background{ 
    position: absolute;
    background-color: #0e0e0e;
    clip-path: polygon(30% 0%, 100% 50%, 30% 100%, 64% 50%);
        z-index: 2;
    mix-blend-mode: color;
    
    width: 100%;
    height: 600px;
}