


.konst-navbar-container-tab-purple{
    background-color: #d300ff;
     color: #4d4dff;
     
 }
.konst-navbar-container-tab-front-purple{
    //box-shadow: 6px 6px 12px #00003f;
}
.konst-navbar-container-tab-front-purple:hover{
    background-color: #560867;
}