


.konst-navbar-container-tab-blue{
    background-color: orange;
     color: #4d4dff;
     
 }
.konst-navbar-container-tab-front-blue{
    box-shadow: 6px 6px 12px #00003f;
}
.konst-navbar-container-tab-front-blue:hover{
    background-color: #2626da;
}