
.konst-header-space{
    width: 100%;
    height: 350px;
}



.konst-content-container-post-container{
    background-color: #272781;
    width: 60%;
    max-width: 660px;
    height: fit-content;
    border-radius: 5px;
    
    margin-top: 50px;
    padding: 20px 0px 10px 0px; 


    //box-shadow: 2px 2px 10px #000000; 
    
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

}
.konst-profile-picture-container{
    height: 50%; 
    width: 50%;
}
.konst-profile-picture{
  //  width: 150px;
  height: 150px;
 border-radius: 50%;
 max-width: 150px;
 min-width: 50px;
 margin: 20PX;

}
.konst-profile-text{
    height: 100px;
    color: #e0ffff;
   //@at-root margin-left: 20px;
   // margin-right: 20px;   
    height: fit-content;
    min-width: 220px;
   // padding-top: 10px;
    max-width: 430px;
    width: 80%;
    margin: 20px;
    margin-top: 30px;
   }